.form-select-chosen {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.form-select-chosen__input {
  display: none;
}

.form-select-chosen__output-wrap {
  border: 1px solid;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.form-select-chosen__output-wrap:has(+ .form-select-chosen__search.is-visible) {
  position: relative;
  z-index: 3;

  .form-select-chosen__output-arrow {
    transform: rotate(180deg);
  }
}

.form-select-chosen__output-wrap.has-error {
  border: 1px solid red;
}

.form-select-chosen__output {
  padding: 8px;
}

.form-select-chosen__output:empty::before {
  content: attr(data-placeholder);
  color: #898989;
}

.form-select-chosen__output-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
}

.form-select-chosen__search {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 1px solid;
  border-top: none;
  z-index: 2;
  background-color: white;
  border-radius: 0 0 5px 5px;
}

.form-select-chosen__search:not(.is-visible) {
  display: none;
}

.form-select-chosen__search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 8px;
  margin-left: 5px;
}

.form-select-chosen__search-input-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-select-chosen__search-input {
  border: 1px solid;
  margin: 0.4rem;
  outline: none;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  width: 99%;
}

.form-select-chosen__options {
  margin: 0;
  padding: 0;
  max-height: 400px;
  list-style-type: none;
  overflow: auto;
}

.form-select-chosen__option {
  border-bottom: 1px solid lightgray;
  padding: 3px;
}

.form-select-chosen__option:first-child {
  border-top: 1px solid lightgray;
}
